<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <File name="MyFile" fileName="logs/app.log">
      <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="WARN">
      <AppenderRef ref="MyFile"/>
    </Root>
  </Loggers>
</Configuration>